/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: beige;
}

h1 {
  font-family: impact;
  font-size: 30px;
  color: blue;
}

h3 {
  font-family: Times New Roman;
  color: #3d8ea9;
  text-decoration: underline;
}

p {
  font-family: calibri;
  font-weight: 700;
  color: lightblue;
}
